* {
    box-sizing: border-box;
}

html {
    font-family: Livvic;
}

body {
    background-color: #161515;
    color: #D81F26;
    font-size: 18px;
    font-weight: 600;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

@font-face {
    font-family: Livvic;
    src: url(../../assets/fonts/Livvic-SemiBold.ttf);
}

.App {
    overflow: hidden;
}