.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    font-size: 15px;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);

    &.scrolled {
        background-color: #161515;
    }

    span {
        cursor: pointer;
    }

    .left-navbar {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-left: 30px;

        img {
            height: 35px;
            margin-right: 40px;
        }
    }

    .right-navbar {
        display: flex;
        align-items: center;
        gap: 10px;

        .icon {
            cursor: pointer;
        }

        .profile {
            .options-navbar {
                display: none;
                flex-direction: column;
                position: absolute;

                &:hover {
                    display: flex;
                }
            }


        }
    }



}